.navigation{
  border-right: 1px solid #EEE;
  height: 100%;
  left: 0;
  top: 0;
  padding: 60px 0;
  position: fixed;
  text-align: center;
  width: 250px;
  z-index: 0;

  .headshot{
    border-radius: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    width: 100px;

    img{
      width: 100%;

    }
  }
}
